#container {
    display: grid;
    grid-template-columns:repeat(10,70px);
    grid-template-rows: repeat(10,35px);
    gap: 10px 10px;
    background-color: hsl(0, 0%, 81%);
    width:1200px;
}
#daniel {
    grid-area: 1/1/5/6;
    background-color: hsl(263,55%,52%);
}
#jonathan {
    grid-area:1/6/5/8;
    background-color: hsl(217,19%,35%);
}
#kira {
    grid-area: 1/8/9/10;
    background-color:hsl(0, 0%, 100%) ;
}
#jeanette {
    grid-area: 5/1/9/3;
    background-color: hsl(0, 0%, 100%);
}
#patrick {
    grid-area: 5/3/9/8;
    background-color:hsl(219, 29%, 14%) ;
}
/* image rounded border */
.img {
    border-radius: 50%;
    width:2.5em;
    height: 2.5em;
}
/* get rid of bullets */
.lists {
    list-style: none;

}
/* for the view class to work I had 
to change the class of each section 
to id */
/* flex the sections content */
.view {
   display:flex;
   flex-direction:column;
   border-radius:5px;
   margin:5px;
   padding:10px;
   font-size:7px;
   box-sizing: border-box;
   font-family: 'Barlow Semi Condensed', sans-serif;
   
 }
.header {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
} 
/* taking the ID out of the flow
so the content could fit in */
.lists {
    position:absolute;
    font-size: 13px;
    
}
